h1 Email Verification
p Thank #{name} for registering with our app! To complete the registration process, please use the following verification code: #{verificationCode}
p If you didn't register, please ignore this email.